/* ============================================= */
/*                  Colors                       */
/* ============================================= */

$main: #CF8DAB;
$main-dark: #CA2085;
$main-light: #FFE4F8;
$active: #5FBAAF;
$disabled: #BCA5AF;
$accent-one: #D29506;
$accent-two: #55414A;
$light: white;


/* ============================================= */
/*              Other Variables                  */
/* ============================================= */

$screen-break: 768px;

$font-size-large: 30px;
$font-size-medium: 20px;
$font-size-small: 10px;

