/* ============================================= */
/*              Buttons                          */
/* ============================================= */

@keyframes ding {
  0% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(15deg);
  }
  90% {
    transform: rotate(0deg);
  }
}

.main-header-search {
  border: .5px solid black;
  border-radius: 5px;
  background: $light;
}

.main-header-search input {
  width: 100%;
  border-radius: 5px;
  border: none;
}

.traffic-nav-link {
  margin: 5px;
  padding: 5px;
}

.traffic-nav-link.active {
  background-color: $active;
  color: $light;
  border-radius: 20px;
}

#auto-complete {
  max-width: 100%;
  height: 100%;
  position: relative;
}

#auto-complete .search-input {
  background: $main-light;
  width: 100%;
  border-radius: 5px;
  @include basic-box-border;
}

.search-input input {
  height: 30px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: $font-size-small;
  background: $off-light;
  @include basic-box-border;
  padding-left: 8px;
}

.search-input .auto-com-box {
  background: $off-light;
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.search-input.active .auto-com-box {
  position: absolute;
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 32;
  @include basic-box-border;
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.auto-com-box li {
  list-style: none;
  padding: 8px 0px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

.auto-com-box li:hover {
  background: $disabled;
}

.search-input.active .auto-com-box li {
  display: block;
}

#message {
  border-radius: 5px;
  background: $off-light;
}

#send-button {
  border: none;
  color: $light;
  background: $main-dark;
  padding: 6px;
  border-radius: 3px;
}

#settings-buttons button {
  border: none;
  color: $light;
  padding: 6px;
  border-radius: 3px;
  flex: 0 48%;
}

.timezone-setting select {
  height: 2rem;
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  font-size: $font-size-small;
  background: $off-light;
  border-radius: 5px;
}

#save-button {
  background: $main-dark;
}

#cancel-button {
  background: $disabled;
}
