/* ============================================= */
/*              Buttons                          */
/* ============================================= */

@keyframes ding {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(0deg);
  }
}

.traffic-nav-link.active {
  background-color: $active;
  color: $light;
  border-radius: 5px;
}

