/* ============================================= */
/*              Buttons                          */
/* ============================================= */

@keyframes ding {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(0deg);
  }
}

.traffic-nav-link {
  margin: 5px;
  padding: 5px;
}

.traffic-nav-link.active {
  background-color: $active;
  color: $light;
  border-radius: 20px;
}

#settings-buttons button {
  border: none;
  color: $light;
  padding: 6px;
  border-radius: 3px;
  flex: 0 15rem;
}

#save-button {
  background: $main-dark;
}

#cancel-button {
  background: $disabled;
}
