/* ============================================= */
/*              Grid System                      */
/* ============================================= */

body {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-areas: 
    "top top"
    "nav nav"
    "main main";
}

nav {
  grid-area: nav;
}

.top-bar {
  grid-area: top;
}

main {
  grid-area: main;
  display: grid;
  // grid-template-rows: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "traffic traffic"
    "daily mobile"
    "social social"
    "members recent"
    "message settings";
}

.main-header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "tab none none search"
    "alert alert alert alert";
}

.tab {
  grid-area: tab;
}

.main-header-search {
  grid-area: search;
}

.alert {
  grid-area: alert;
}

#traffic-div {
  grid-area: traffic;
}

#daily-div {
  grid-area: daily;
}

#mobile-div {
  grid-area: mobile;
}

#social {
  grid-area: social;
  color: $accent-one;
  border: solid 1px $accent-one;
}

.social-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.social-stat {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#widget-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
}

.widget {
  border: solid 1px $main-dark;
  border-radius: 5px;
  background-color: $off-light;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  padding: 10px;
}

.widget svg {
  grid-row: 1 / -1;
  width: 50px;
  height: 50px;
  background-color: $main-dark;
  border-radius: 50%;
}

#new-members {
  grid-area: members;
  color: $light;
  background-color: $accent-two;
}

#recent-activity {
  grid-area: recent;
  color: $light;
  background-color: $main;
}

#message-user {
  grid-area: message;
  color: $light;
  background-color: $main-light;
}

#settings {
  grid-area: settings;
  color: $light;
  background-color: $accent-one;
}
