/* ============================================= */
/*              Grid System                      */
/* ============================================= */

body {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-areas: 
    "top top"
    "nav nav"
    "main main";
}

nav {
  grid-area: nav;
}

.top-bar {
  grid-area: top;
}

main {
  grid-area: main;
  display: grid;
  // grid-template-rows: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "traffic traffic"
    "daily mobile"
    "social social"
    "members recent"
    "message settings";
}

.main-header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "tab none none search"
    "alert alert alert alert";
}

.tab {
  grid-area: tab;
}

.main-header-search {
  grid-area: search;
  display: flex;
  justify-content: flex-end;
}

.alert {
  grid-area: alert;
}

#traffic-div {
  grid-area: traffic;
}

#traffic-header {
  display: flex;
  justify-content: space-between;
}

.traffic-nav {
  display: flex;
}

#daily-div {
  grid-area: daily;
}

#mobile-div {
  grid-area: mobile;
}

#social {
  grid-area: social;
  color: $accent-one;
}

.social-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.social-stat {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#widget-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
}

.widget {
  flex: 0 1 250px;
  border: solid 1px $main-dark;
  border-radius: 5px;
  background-color: $off-light;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  padding: 10px;
}

.widget svg {
  grid-row: 1 / -1;
  width: 50px;
  height: 50px;
  background-color: $main-dark;
  border-radius: 50%;
}

#new-members {
  grid-area: members;
  color: $light;
}

#members {
  display: flex;
  flex-direction: column;
}

.member-info {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "profile name date"
    "profile email date";
  img {
    grid-area: profile;
  }
}

.member-info,
.activity-info {
  padding: 8px 0;
  &:not(:last-child) {
    border-bottom: 0.5px solid $main-light;
  }
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.join-date {
  grid-area: date;
  margin: auto;
}

#recent-activity {
  grid-area: recent;
  color: $light;
}

#activities {
  display: flex;
  flex-direction: column;
}

.activity-info {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "profile activity arrow"
    "profile time arrow";
  img {
    grid-area: profile;
  }
}

.act {
  grid-area: activity;
}

.time {
  grid-area: time;
}

.arrow {
  grid-area: arrow;
}

#message-user {
  grid-area: message;
  color: $light;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#user-search {
  height: 2rem;
}

#message {
  height: 6rem;
}

#send-button {
  height: 2rem;
}

#settings {
  grid-area: settings;
  color: $light;
}

.setting {
  display: flex;
}

.toggle-button {
  display: flex;
}

.bordered-section {
  border: 0.5px solid $main-light;
}
