/* ============================================= */
/*              Grid System                      */
/* ============================================= */

body {
  margin: auto;
  display: grid;
  grid-template-rows: 60px 50px;
  grid-template-areas: 
    "top top"
    "nav nav"
    "main main";
}

nav {
  grid-area: nav;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav li {
  margin: 0 .5rem;
  padding: 7px 0 0 0;
  border: 4px solid $main-dark;
}

.nav li.active {
  border-left: 4px solid $main-dark;
  border-top: 4px solid $active;
}

.top-bar {
  grid-area: top;
}

main {
  grid-area: main;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header"
    "traffic"
    "daily"
    "mobile"
    "social"
    "members"
    "recent"
    "message"
    "settings";
}

.main-header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "tab search"
    "alert alert";
  padding-top: 0px;
  padding-right: 0px;
}

.weird-tab-thing {
  background: $off-light;
  border-left: 1px solid $main-light;
  border-bottom: 1px solid $main-light;
  display: flex;
  justify-content: flex-end;
  grid-area: search;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab {
  grid-area: tab;
}

.main-header-search {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.alert {
  grid-area: alert;
}

#traffic-div {
  grid-area: traffic;
}

#traffic-header {
  display: flex;
  justify-content: space-between;
}

.traffic-nav {
  display: flex;
}

#daily-div {
  grid-area: daily;
}

#mobile-div {
  grid-area: mobile;
}

#social {
  grid-area: social;
  color: $accent-one;
}

#widget-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
}

.widget {
  flex: 0 1 5rem;
  border: solid 1px $main-dark;
  border-radius: 5px;
  background-color: $off-light;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  padding: 10px;
  margin: 1rem;
}

.widget svg {
  grid-row: 1 / -1;
  width: 50px;
  height: 50px;
  background-color: $main-dark;
  border-radius: 50%;
}

#new-members {
  grid-area: members;
  color: $light;
}

#members {
  display: flex;
  flex-direction: column;
}

.member-info {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "profile name date"
    "profile email date";
  img {
    grid-area: profile;
  }
}

.member-info,
.activity-info {
  padding: 8px 0;
  &:not(:last-child) {
    border-bottom: 0.5px solid $main-light;
  }
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.join-date {
  grid-area: date;
  margin: auto;
}

#recent-activity {
  grid-area: recent;
  color: $light;
}

#activities {
  display: flex;
  flex-direction: column;
}

.activity-info {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "profile activity arrow"
    "profile time arrow";
  img {
    grid-area: profile;
  }
}

.act {
  grid-area: activity;
}

.time {
  grid-area: time;
}

.arrow {
  grid-area: arrow;
}

#message-user {
  grid-area: message;
  color: $light;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#auto-complete {
  flex: 0 1rem;
}

#message {
  flex: 0 6rem;
}

#send-button {
  flex: 0 2rem;
}

#settings {
  grid-area: settings;
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#message-user > h1,
#settings > h1 {
  flex: 0 1rem;
}

#settings-buttons {
  flex: 0 2rem;
}

.two-toggles {
  flex: 0 5rem;
}

.setting {
  display: flex;
}

.toggle-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.two-toggles {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.toggle-setting {
  display: flex;
  justify-content: space-between;
}

#settings-buttons {
  display: flex;
  justify-content: space-between;
}

.bordered-section {
  border: 0.5px solid $main-light;
}
