/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media screen and (min-width: $screen-break-small) {
  body {
    grid-template-rows: 60px;
    grid-template-columns: 1fr 19fr;
    grid-template-areas: 
      "top top"
      "nav main";
  }

  .profile-image {
    border-left: 2px solid $main-dark;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "traffic traffic"
      "daily mobile"
      "social social"
      "members members"
      "recent recent"
      "message message"
      "settings settings";
  }

  .main-header {
    grid-template-columns: 1fr 3fr;
  }

  nav {
    background: $main-dark;
    padding: 10px 0;
  }

  .nav li svg {
    height: 100%;
  }

  .nav li {
    margin: .5rem 0;
    padding: 0 0 0 7px;
  }

  .nav li.active {
    border-top: 4px solid $main-dark;
    border-left: 4px solid $active;
  }

  .nav {
    justify-content: flex-start;
    flex-direction: column;
  }

  #widget-row {
    flex-direction: row;
  }

  .widget {
    flex: 0 1 200px;
    height: 125px;
  }

  .member-info {
    grid-template-columns: 1fr 8fr 1fr;
    justify-items: initial;
    grid-template-areas:
      "profile name date"
      "profile email date";
  }

  .activity-info {
    grid-template-columns: 1fr 8fr 1fr;
    justify-items: initial;
    grid-template-areas:
      "profile activity arrow"
      "profile time arrow";
  }

  .arrow {
    display: initial;
    grid-area: arrow;
  }

  #recent-activity img,
  #new-members img {
    height: 35px;
  }
}

@media screen and (min-width: $screen-break-large) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "traffic traffic"
      "daily mobile"
      "social social"
      "members recent"
      "message settings";
  }
  
  .main-header {
    grid-template-columns: 1fr 6fr;
  }

  .widget {
    flex: 0 1 250px;
  }
}