#auto-complete {
  max-width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

#auto-complete .search-input {
  position: relative;
  background: $main-light;
  width: 100%;
  border-radius: 5px;
  @include basic-box-border;
}

.search-input input {
  height: 30px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: $font-size-small;
  background: $off-light;
  @include basic-box-border;
  padding-left: 8px;
}

.search-input .auto-com-box {
  background: $off-light;
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.search-input.active .auto-com-box {
  position: absolute;
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 32;
  @include basic-box-border;
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.auto-com-box li {
  list-style: none;
  padding: 8px 0px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

.auto-com-box li:hover {
  background: $disabled;
}

.search-input.active .auto-com-box li {
  display: block;
}

#message {
  border-radius: 5px;
  background: $off-light;
  margin-bottom: 10px;
}

#send-button {
  border: none;
  color: $light;
  background: $main-dark;
  padding: 6px;
  border-radius: 3px;
}